<% include header %>

      <div class="col=md-3" id="division1">
        <img src="/Images/mypic.jpg" id="image" alt="lakshmi"  class="img">
        </div>
<header><h1 id="sv"> 07 - Sai Sri lakshmi Vancha</h1></header>
<main>
<article id="article">
<h2 id="sv"> content</h2>

<section>
<h3 class="present">Present</h3> 
<p> I am a new member for fall 2018 in Applied Computer Science.</p>
</section>
<section id="past-section"><h3 class="section-header"> Background </h3> 
<p>I am from <strong>India</strong>, I completed my under graduation in Computer Science and Engineering from Malla Reddy College of Engineering and Technology. I love reading novels, Baking and listening to music.</p>
</section>
<section id="future-section">
<h3 class="present"> Plans </h3> 
<p>I would like to establish my self as software engineer working on fields like<em> Machine learning </em> and IOT <em>(Internet Of Things)</em>.</p>

</section>

<section>
<h3 class="present">Schedule</h3>
<ul>
<li><p><b>OOP</b>----Tuesday,Thursday (2:00pm-3:15pm)</p></li>


<li><p><b>Database</b>----Monday,Wednesday,Friday (1:00pm-1:50pm)</p></li>
 

<li><p><b>Web apps</b>----Monday,Wednesday,Friday (2:00pm-2:50pm)</p></li>



</ul>
</section>
</article>
  <aside>
  <h3 class="aside-header">Aside</h3> <p id="aside">This is an aside tag</p>
  </aside>
 </main>
 <a href="https://www.linkedin.com/feed/">Linkedin</a>

<% include footer%>
